<app-image-grid [photos]="$photos | async" (itemClicked)="addFavorite($event)"></app-image-grid>
<div class="spinner-container">
  <mat-spinner class="spinner" *ngIf="$isLoading | async"></mat-spinner>
</div>
