<mat-grid-list [cols]="col">
  <mat-grid-tile *ngFor="let photo of photos; trackBy:identify">
    <app-image-card [photo]="photo" (itemClicked)="itemClicked.emit(photo)"></app-image-card>
  </mat-grid-tile>
</mat-grid-list>
