.header-spacer {
  flex: 0.2 1 auto;
}
.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}
.docs-navbar-header-item-selected {
  background: rgba(0, 0, 0, 0.2);
}
