<mat-toolbar color="primary">
  <mat-toolbar-row>
    <nav class="docs-navbar-header">
      <h1 class="header-spacer" style="padding-right: 5px"> XM test </h1>
      <a
        id="photos-btn"
        class="header-spacer"
        mat-button
        routerLink="./"
        routerLinkActive="docs-navbar-header-item-selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Photos
      </a>
      <a
        id="favorites-btn"
        class="header-spacer"
        mat-button
        routerLink="./favorites"
        routerLinkActive="docs-navbar-header-item-selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Favorites
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
