<mat-card class="example-card" *ngIf="photo" (click)="itemClicked.emit()" mat-ripple [class.small-card]="isGrid">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{photo.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="photo.src" [alt]="photo.name" />
  <mat-card-content>
    <p>{{photo.description}}</p>
  </mat-card-content>
</mat-card>
