<app-image-card [photo]="photo" [isGrid]="false"></app-image-card>
<button mat-raised-button color="warn" class="remove-btn" (click)="removeFavorite(photo.id)"> Remove from favorites <mat-icon>delete</mat-icon></button>
<hr>
